.footer{
    
    
    flex-direction: column;
    color: white;
    background-color: #353535;
    padding: 2rem 1rem 3rem 1rem;

    .LogoFooter{
        filter : invert(100%);
        width: 30%;
        max-width: 250px !important;
        margin-bottom: 1.2rem;
    }
    p{
        cursor: pointer;
        display: flex;
        padding-bottom: -10px;
        margin-bottom: 10px;
    }
    i{
        cursor: pointer;
        display: flex;
    }
    .fa-utensils:before{
        padding: 0rem 1rem 0rem 0rem;
    }
    .fa-hands-helping:before{
        padding: 0rem 0.6rem 0rem 0rem;
    }
    
}