@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("http://fonts.cdnfonts.com/css/shrikhand");
@import url("http://fonts.cdnfonts.com/css/shrikhand");
@import "../utils/animations.css";
.bloc1 {
  animation: fadein 1s;
}

.bloc2 {
  animation: fadein 2s;
}

.bloc3 {
  animation: fadein 3s;
}

.flex-item {
  animation: fadein 1s linear;
  animation-fill-mode: both;
}

.backgroundLoader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
  animation: fadeout 2s forwards;
  display: flex;
}

.loader {
  z-index: 100;
  top: 40%;
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #9356DC;
  width: 100px;
  height: 100px;
  animation: spin 1s linear;
  animation-duration: 2s;
  margin: auto;
}

.encoche {
  animation: encocheMenu 2s linear;
}

/* KEYFRAMES  */
@keyframes encocheMenu {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: flex;
    opacity: 100;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 100;
  }
  100% {
    opacity: 0;
    display: none;
    position: unset !important;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 100;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.ZoneLogo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.ZoneLogoRetour {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer {
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 2rem 1rem 3rem 1rem;
}
.footer .LogoFooter {
  filter: invert(100%);
  width: 30%;
  margin-bottom: 1.2rem;
}
.footer p {
  cursor: pointer;
  display: flex;
  padding-bottom: -10px;
  margin-bottom: 10px;
}
.footer i {
  cursor: pointer;
  display: flex;
}
.footer .fa-utensils:before {
  padding: 0rem 1rem 0rem 0rem;
}
.footer .fa-hands-helping:before {
  padding: 0rem 0.6rem 0rem 0rem;
}

.BoutonRose {
  box-shadow: 0px 3px 5px -2px #707070;
  background: linear-gradient(to top, #9256dc 5%, #ff79d9 100%);
  background-color: #9256dc;
  border-radius: 28px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 31px;
  margin: 1rem 1rem 1rem 1rem;
}

.BoutonRose:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.footer {
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 2rem 1rem 3rem 1rem;
}
.footer .LogoFooter {
  filter: invert(100%);
  width: 30%;
  margin-bottom: 1.2rem;
}
.footer p {
  cursor: pointer;
  display: flex;
  padding-bottom: -10px;
  margin-bottom: 10px;
}
.footer i {
  cursor: pointer;
  display: flex;
}
.footer .fa-utensils:before {
  padding: 0rem 1rem 0rem 0rem;
}
.footer .fa-hands-helping:before {
  padding: 0rem 0.6rem 0rem 0rem;
}

a :hover {
  cursor: pointer;
}

body, html, p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid #F34607;*/
}

/* zone ville & lieux */
.VilleLieux {
  background-color: #eaeaea;
  display: inline-flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-shadow: 0px 4px 5px -2px #bebebe inset;
}
.VilleLieux .containerGris {
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
  color: #353535;
}
.VilleLieux .containerGris p {
  padding-left: 1rem;
}

/* zone exploration */
.ZoneExploration {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 3rem;
}
.ZoneExploration > p {
  padding: 1rem 1rem 1rem 1rem;
}

/* zone fonctionnement */
.ZoneFonctionnement {
  margin: 0 1rem 0rem 1rem;
}
.ZoneFonctionnement .btnfonctionnement {
  margin: 0 0 0 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px 3px #55555538;
  background: whitesmoke;
  border-radius: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  width: 98%;
  height: 4rem;
  display: inline-flex;
  margin-top: 1rem;
}
.ZoneFonctionnement .btnfonctionnement i, .ZoneFonctionnement .btnfonctionnement strong {
  padding: 1.5rem 0rem 0rem 1.5rem;
}
.ZoneFonctionnement .btnfonctionnement p {
  align-content: flex-start;
  text-align: center;
}
.ZoneFonctionnement .btnfonctionnement:hover {
  background-color: #9256dc49;
  transition: 0.3s;
}
.ZoneFonctionnement .btnfonctionnement:hover i {
  color: #9356DC;
  transition: 0.3s;
}
.ZoneFonctionnement .minibtn {
  display: flex;
  position: absolute;
  background: #9356DC;
  border-radius: 25px;
  color: white;
  border: transparent;
  height: 25px;
  width: 25px;
  z-index: 2;
  margin-top: 2.3rem;
  margin-left: 5px;
}
.ZoneFonctionnement .minibtn p {
  margin: auto;
}
.ZoneFonctionnement i {
  color: #707070;
}
.ZoneFonctionnement .btnfonctionnement p, .ZoneFonctionnement i {
  font-size: 15px;
}

.btnfonctionnement p, i {
  font-size: 15px;
}

/* Zone Restaurants */
.ZoneRestaurants {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  background-color: whitesmoke;
}
.ZoneRestaurants .flex-container {
  padding: 0 0 0 0 !important;
}
.ZoneRestaurants .flex-item {
  box-shadow: 0px 1px 10px 3px #55555538;
  border: 0;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  padding: 0 0 0 0;
}
.ZoneRestaurants .flex-item p {
  display: flex;
  font-size: 1.2rem;
  text-align: left;
  padding: 5px 0 0 1rem;
}
.ZoneRestaurants .flex-item .far.fa-heart {
  font-size: 1.5rem;
  display: flex;
  justify-items: flex-end;
  align-items: right;
  position: relative;
  margin: -2rem 0rem 0rem 85%;
  padding-bottom: 1.5rem;
  color: black;
}
.ZoneRestaurants .flex-item .fas.fa-heart {
  font-size: 1.2rem;
  display: flex;
  justify-items: flex-end;
  align-items: right;
  position: relative;
  padding-bottom: 1.5rem;
  margin: -2.88rem 0 0px 85.4%;
  color: white;
}
.ZoneRestaurants .flex-item .fas:hover {
  color: #9356DC;
  transition: 0.3s;
}
.ZoneRestaurants .restauimg {
  height: 10rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}
.ZoneRestaurants p.nouveau {
  background: #99e2d0;
  color: green;
  width: 65px;
  text-align: center;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  position: absolute;
  left: 10vh;
  margin-top: 2rem;
  margin-left: auto;
  right: 2rem;
  display: block;
  z-index: 2;
}

/* footer */
.image img {
  width: 100%;
}

/* Zone Header */
.fas.fa-arrow-left {
  font-size: 1.4rem;
  align-items: right;
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

/* Zone Restaurants */
.ZoneMenu {
  margin-top: -3rem !important;
  border-radius: 3rem 3rem 0rem 0rem;
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  background-color: whitesmoke;
}
.ZoneMenu .flex-container {
  padding: 0 0 0 0 !important;
}
.ZoneMenu .bloc1, .ZoneMenu .bloc2, .ZoneMenu .bloc3 {
  margin-bottom: 2rem;
}
.ZoneMenu h1 {
  font-size: 1.7rem;
  font-family: "Shrikhand";
  font-size: 1.7rem;
  font-family: "Shrikhand";
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}
.ZoneMenu .containerh2 {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
  font-weight: 100;
  width: 40px;
  background: #f9f9f9;
}
.ZoneMenu .containerh2 p {
  font-size: 1.25rem !important;
  text-transform: uppercase;
}
.ZoneMenu .flex-item {
  box-shadow: 0px 1px 10px 3px #55555538;
  border: 0;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  padding: 0 0 0 0;
  position: relative;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ZoneMenu .flex-item p {
  display: flex;
  font-size: 1.2rem;
  text-align: left;
  padding: 5px 0 0 1rem;
}
.ZoneMenu .flex-item .validation-logo {
  display: none;
  font-size: 1.2rem;
  display: flex;
  justify-items: flex-end;
  padding-bottom: 1.5rem;
  padding-left: 34px;
  padding-top: 16px;
}
.ZoneMenu .flex-item .flex-item:hover {
  transition: 0.5s;
}
.ZoneMenu .flex-item .flex-item:hover .validation-logo-bg {
  display: block;
}
.ZoneMenu .flex-item .flex-item:hover .validation-logo {
  display: block;
}
.ZoneMenu .flex-item .validation-logo {
  z-index: 2;
}
.ZoneMenu .restauimg {
  height: 10rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

/* bouton avec encoche */
.flex-item:hover .validation-logo-bg {
  width: 60px;
  height: 100%;
  background: #99E2D0;
  position: absolute;
  margin-top: -84px;
  right: 0px;
  border-radius: 0px 15px 15px 0px;
  z-index: -1;
  transition-duration: 400ms;
}

/* menu boutons */
.list .item {
  height: 100px;
  box-shadow: 0 1px 10px 3px #55555538;
  border: 0;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.list .item .content {
  margin: auto 0;
  padding-left: 2%;
  position: relative;
  width: 100%;
}

.list .item .title {
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: left;
  font-size: 20px;
}

.list .item .description {
  text-align: left;
  font-size: 14px;
}

.list .item .price {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.list .item .badge {
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  width: 0;
  height: 100px;
  transition: width 1s;
}

.list .item:hover .badge {
  width: 75px;
  display: flex;
}

.list .item .badge i {
  margin: auto;
  color: #FFF;
  font-size: 25px;
  display: none;
}

.list .item:hover .badge i {
  display: block;
}

.far.fa-heart {
  font-size: 1.5rem;
  display: flex;
  justify-items: flex-end;
  position: relative;
  margin: -3.5rem 0rem 0rem 90%;
  padding-bottom: 1.5rem;
  color: black;
}

.fas.fa-heart {
  font-size: 1.2rem;
  display: flex;
  justify-items: flex-end;
  position: relative;
  padding-bottom: 1.5rem;
  margin: -2.9rem 0 0px 90.3%;
  cursor: pointer;
  color: white;
}

.fas:hover {
  color: #9356DC;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
