.BoutonRose{
    box-shadow: 0px 3px 5px -2px #707070;
    background:linear-gradient(to top, #9256dc 5%, #ff79d9 100%);
    background-color:#9256dc;
    border-radius:28px;
    border:1px solid transparent;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:16px 31px;
    margin: 1rem 1rem 1rem 1rem;
}
.BoutonRose:hover{
        transform: scale(1.05);
        transition: 0.3s;
}