@use "sass:color";
@import "../utils/variables";
@import "../components/_boutonrose.scss";
@import "../layout/_footer.scss";
@import "../utils/animations.css";


a{
    :hover{
        cursor: pointer;
    }
}

body, html, p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
        /* border: 1px solid #F34607;*/
}
/* zone ville & lieux */
.VilleLieux{
    background-color: #eaeaea;
    display: inline-flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0px 4px 5px -2px #bebebe inset;
        .containerGris{
            margin-right: auto;
            margin-left: auto;
            display: inline-flex;
            color: #353535;
                p{
                    padding-left: 1rem;
                }
    }
}
/* zone exploration */
.ZoneExploration{
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 3rem;
        >p{
            padding: 1rem 1rem 1rem 1rem;
        }
    
}
/* zone fonctionnement */

.ZoneFonctionnement{
    margin: 0 1rem 0rem 1rem;
    
        .btnfonctionnement{
            margin: 0 0 0 1rem;
            position: relative;
            z-index: 1;
            box-shadow: 0px 5px 10px 3px #55555538;
            background:whitesmoke;
            border-radius:15px;
            border:1px solid transparent;
            cursor:pointer;
            width:98%;
            height: 4rem;
            display: inline-flex;
            margin-top: 1rem;
            
                i,strong{

                    padding: 1.5rem 0rem 0rem 1.5rem;
                }
                p{
                    align-content: flex-start;
                    text-align: center;
                    
                }
                }
                .btnfonctionnement:hover{
                    background-color: #9256dc49;
                    transition: 0.3s;
                    i{
                        color: $violet;
                        transition: 0.3s;
                    }
                }
                .minibtn{
                    display: flex;
                    position: absolute;
                    background: #9356DC;
                    border-radius: 25px;
                    color: white;
                    border: transparent;
                    height: 25px;
                    width: 25px;
                    z-index: 2;
                    margin-top: 2.3rem;
                    margin-left: 5px;
                    p{
                        margin: auto;
                    }
                }
                i{
                    color: #707070;
                    
                }
                .btnfonctionnement p, i {
                    font-size: 15px;
                    }
}
.btnfonctionnement p, i {
                    font-size: 15px;
                    }
        
 /* Zone Restaurants */

 .ZoneRestaurants{
     
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    background-color: whitesmoke;
    .flex-container{
        padding: 0 0 0 0 !important;
        
    }
    .flex-item{
        box-shadow: 0px 1px 10px 3px #55555538;
        border: 0;
        width: 100%;
        margin-top: 1rem;
        border-radius: 1rem 1rem 1rem 1rem;
        background-color: white;
        padding: 0 0 0 0;
        p{
            display: flex;
            font-size:1.2rem;
            text-align:left;
            padding: 5px 0 0 1rem;
        }
        .far.fa-heart{
            font-size: 1.5rem;
            display:flex;
            justify-items: flex-end;
            align-items: right;
            position:relative;
            margin: -2rem 0rem 0rem 85%;
            padding-bottom: 1.5rem;
            color: black;
        }
        .fas.fa-heart{
            font-size: 1.2rem;
            display: flex;
            justify-items: flex-end;
            align-items: right;
            position: relative;
            padding-bottom: 1.5rem;
            margin: -2.88rem 0 0px 85.4%;
            color: white;   
        }
        .fas:hover{
            color: $violet;
            transition: 0.3s;
        }
        
    }
    .restauimg{
        height: 10rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
        
    }

    p.nouveau{
        background: #99e2d0;
        color: green;
        width: 65px;
        text-align: center;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
        position: absolute;
        left: 10vh;
        margin-top: 2rem;
        margin-left: auto;
        right: 2rem;
        display: block;
        z-index: 2;
    }
}

/* footer */