.image img {
    width: 100%;
  }
  
  /* Zone Header */
  .fas.fa-arrow-left {
    font-size: 1.4rem;
    align-items: right;
    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
  
  /* Zone Restaurants */
  
  .ZoneMenu {
  
    margin-top: -3rem !important;
    border-radius: 3rem 3rem 0rem 0rem;
    border: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    background-color: whitesmoke;
  
    .flex-container {
      padding: 0 0 0 0 !important;
  
    }
  
    .bloc1, .bloc2, .bloc3 {
      margin-bottom: 2rem;
    }
  
    h1 {
      font-size: 1.7rem;
      font-family: "Shrikhand";
      font-size: 1.7rem;
      font-family: "Shrikhand";
      display: flex;
      justify-content: flex-start;
      margin-left: 1rem;
    }
  
    .containerh2 {
      border-bottom: 3px solid #99e2d0;
      padding-bottom: 3px;
      font-weight: 100;
      width: 40px;
      background: #f9f9f9;
  
      p {
        font-size: 1.25rem !important;
        text-transform: uppercase;
      }
    }
  
    .flex-item {
      box-shadow: 0px 1px 10px 3px #55555538;
      border: 0;
      width: 100%;
      margin-top: 1rem;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: white;
      padding: 0 0 0 0;
      position: relative;
      animation-delay: 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
  
      p {
        display: flex;
        font-size: 1.2rem;
        text-align: left;
        padding: 5px 0 0 1rem;
      }
  
      .validation-logo {
        display: none;
        font-size: 1.2rem;
        display: flex;
        justify-items: flex-end;
        padding-bottom: 1.5rem;
        padding-left: 34px;
        padding-top: 16px;
      }
  
      .flex-item:hover {
        transition: 0.5s;
  
        .validation-logo-bg {
          display: block;
        }
  
        .validation-logo {
          display: block;
        }
  
      }
  
      .validation-logo {
        z-index: 2;
      }
    }
  
    .restauimg {
      height: 10rem;
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      border-radius: 1rem 1rem 0rem 0rem;
  
    }
  }
  
  /* bouton avec encoche */
  
  .flex-item:hover {
    .validation-logo-bg {
      width: 60px;
      height: 100%;
      background: #99E2D0;
      position: absolute;
      margin-top: -84px;
      right: 0px;
      border-radius: 0px 15px 15px 0px;
      z-index: -1;
      transition-duration: 400ms;
    }
  }
  
  /* menu boutons */
  
  .list .item {
    height: 100px;
    box-shadow: 0 1px 10px 3px #55555538;
    border: 0;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .list .item .content {
    margin: auto 0;
    padding-left: 2%;
    position: relative;
    width: 100%;
  }
  
  .list .item .title {
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 20px;
  }
  
  .list .item .description {
    text-align: left;
    font-size: 14px;
  }
  .list .item:hover .description, .list .item:hover .title {
    max-width: calc(100% - 55px);
  }
  
  .list .item .price {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  
  .list .item .badge {
    background: #99E2D0;
    border-radius: 0 1rem 1rem 0;
    width: 0;
    height: 100px;
    transition: width 1s;
  }
  
  .list .item:hover .badge {
    width: 75px;
    display: flex;
  }
  
  .list .item .badge i {
    margin: auto;
    color: #FFF;
    font-size: 25px;
    display: none;
  }
  
  .list .item:hover .badge i {
    display: block;
  }
  
  .far.fa-heart {
    font-size: 1.5rem;
    display: flex;
    justify-items: flex-end;
    position: relative;
    margin: -3.5rem 0rem 0rem 90%;
    padding-bottom: 1.5rem;
    color: black;
  }
  
  .fas.fa-heart {
    font-size: 1.2rem;
    display: flex;
    justify-items: flex-end;
    position: relative;
    padding-bottom: 1.5rem;
    margin: -2.90rem 0 0px 90.3%;
    cursor: pointer;
    color: white;
  }
  
  .fas:hover {
    color: $violet;
    transition: 0.3s;
  }