
.bloc1 {
  animation: fadein 1s;
}

.bloc2 {
  animation: fadein 2s;
}

.bloc3 {
  animation: fadein 3s;
}

.flex-item {
  animation: fadein 1s linear;
  animation-fill-mode: both;
}

.backgroundLoader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
  animation: fadeout 2s forwards;
  display: flex;
}

.loader {
  z-index: 100;
  top: 40%;
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #9356DC;
  width: 100px;
  height: 100px;
  animation: spin 1s linear;
  animation-duration: 2s;
  margin: auto;
}

.encoche {
  animation: encocheMenu 2s linear;
}

/* KEYFRAMES  */

@keyframes encocheMenu {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: flex;
    opacity: 100;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 100;
  }
  100% {
    opacity: 0;
    display: none;
    position: unset !important;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 100;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}